/** CSS STYLE **/
@font-face {
  font-weight: 400;
  font-family: "NeuchaRegular";
  font-style: normal;
  src: url("../fonts/NeuchaRegular.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "OpenSans-Bold";
  src: url("/fonts/OpenSans-Bold.ttf");
}

body {
  color: #2a2626;
  font-size: 16px;
  font-family: "OpenSans", sans-serif;
  line-height: 1.6;
}

.wrapper {
  position: relative;

  max-width: 1110px;
  margin: 0 auto;
}

.background-beige {
  position: relative;

  overflow: hidden;

  background-color: #f5f4f0;
}

.background-beige::before,
.background-sand::before {
  position: absolute;
  top: 0;

  z-index: 0;

  width: 100%;
  height: 100%;

  background: url(../images/image-1.png) no-repeat 0 0;
  background-position: 50% 0;

  content: "";
}

.background-sand {
  position: relative;

  overflow: hidden;

  background-color: #b09a81;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-200 {
  padding-top: 200px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pt-100 {
  padding-top: 100px;
}

/* Хэдер */

.main-title-txt,
h1 {
  position: relative;
  z-index: 100;

  margin: 0;
  padding: 0;

  color: #fe8a02;
  font-weight: 400;
  font-size: 72px;
  font-family: "NeuchaRegular", sans-serif;
  line-height: 1.2;
}

.main-title {
  position: relative;
}

.mb-185 {
  margin-bottom: 185px;
}

.main-title-txt span {
  z-index: 10;

  color: #2a2626;
}

.main-title img {
  position: absolute;
  top: -45px;
  right: -270px;

  z-index: 30;

  width: auto;
  height: 525px;
}

.main-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-column {
  z-index: 1;

  flex: 0 0 49%;
}

.main-column:first-child {
  margin-right: 30px;
}

.main-column p:last-of-type {
  margin-bottom: 52px;
}

.btn-more {
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  background: #fe8a02;
}

.p-btn-more {
  padding: 16px 23px;
}

/* Видео-блок */

.bg-white {
  background-color: #fff;
}

.bg-dark {
  background-color: #42413c;
}

.bg-beige {
  background-color: #f5f4f0;
}

.bg-darker-beige {
  background-color: #b09a81;
}

.middle-title,
h2 {
  margin: 0;
  padding: 0;

  color: #fe8a02;

  font-weight: 400;
  font-size: 60px;
  font-family: "NeuchaRegular", sans-serif;
  line-height: 1.2;
}

.color-black {
  color: #2a2626;
}

.color-white {
  color: #fff;
}

.video-block {
  text-align: center;
}

iframe {
  position: relative;
  top: 100px;
}

.mt-70-negative {
  margin-top: -70px;
}

/* Виды когнитивных искажений */

.types-of-distortion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.link-type {
  text-decoration: none;

  transition: all 0.5s ease;
}

.type-text {
  color: #2a2626;
}

.types-title {
  margin-top: 0;

  color: #fe8a02;
  font-size: 52px;
  font-family: "NeuchaRegular", sans-serif;
  line-height: 1.2;

  background: transparent;
}

.type-number {
  color: #42413c;
  font-size: 64px;
  font-family: "NeuchaRegular", sans-serif;
  line-height: 1;
}

.mb-40 {
  margin-bottom: 40px;
}

.type-name,
h3 {
  color: #fe8a02;
  font-weight: 400;
  font-size: 34px;
  font-family: "NeuchaRegular", sans-serif;
  line-height: 1.2;
}

.mt-40 {
  margin-top: 40px;
}

.mb-16 {
  margin-bottom: 16px;
}

.type-of-distortion,
.types-title {
  width: 350px;
  height: auto;
}

.mb-20 {
  margin-bottom: 20px;
}

.p-24 {
  padding: 24px;
}

.type-of-distortion:hover,
.type-of-distortion:active {
  background-color: #d7ccc0;
  box-shadow: 0 16px 32px rgba(255 255 255 / 0.2);
}

/* Описания когнитивных искажений */

.background-beige .section-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.background-sand .section-top {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.little-title {
  font-weight: 400;
  font-size: 24px;
  font-family: "NeuchaRegular", sans-serif;
  line-height: 1.2;
}

.color-beige {
  color: #d7ccc0;
}

.mt-30 {
  margin-top: 30px;
}

.short-descr {
  font-weight: 400;
  font-size: 34px;
  font-family: "NeuchaRegular", sans-serif;
  line-height: 0.97;
}

h3.breaker {
  margin: 93px 0 20px 0;
  padding: 5px 0 5px 10px;

  font-weight: 700;
  font-size: 14px;
  font-family: "OpenSans", sans-serif;

  line-height: 1.2;
  text-transform: uppercase;
}

.color-sand {
  color: #b09a81;
}

.long-descr {
  display: flex;
  flex-direction: row;
}

.mr-40 {
  margin-right: 40px;
}

.column-1,
.column-2 {
  flex: 0 0 48%;
}

.background-sand .column-1,
.background-sand .column-2 {
  flex: 0 0 48%;
}

.block-img {
  z-index: 30;
}

.pr-25 {
  padding-right: 25px;
}

.pl-25 {
  padding-left: 25px;
}

.background-beige:last-of-type .middle-title {
  white-space: nowrap;
}

.block-shadow {
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.15);
}

/* Футер */

.subscribe-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  margin-bottom: 76px;

  background-color: #42413c;
}

.subscribe-form-txt,
.email-section {
  flex: 0 0 50%;
}

.subscribe-form-txt {
  padding: 55px 0 55px 55px;

  font-weight: 400;
  font-size: 34px;
  font-family: "NeuchaRegular", sans-serif;
  line-height: 1.2;
}

.email-section {
  padding: 38px 0 40px 0;
}

.form-consent {
  font-weight: 400;
  font-size: 12px;
}

.label-email {
  margin-bottom: 9px;

  font-weight: normal;
  font-size: 18px;
}

.form-email {
  display: flex;
  flex-direction: column;
}

.input-email {
  width: 425px;
  height: 50px;

  border: none;

  color: #757575;
  font-weight: 400;
  font-size: 13.1px;
}

.p-0-15 {
  padding: 0 15px;
}

input[type="email"]::placeholder {
  opacity: 0.2;
}

.form {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.mb-4 {
  margin-bottom: 4px;
}

.subscribe-button {
  width: 62px;
  height: 50px;

  border: none;

  background-color: #fe8a02;
}

.subscribe-button::before {
  top: 50%;
  left: 0;

  content: url("../images/send.svg");
}

.footer-info {
  color: #000;
  font-weight: 400;
  font-size: 15px;

  text-align: center;
}

.mb-11 {
  margin-bottom: 11px;
}

.color-blue {
  color: #1085c5;
}
