/** CSS STYLE **/
@font-face {
    font-family: "NeuchaRegular";
    src: url("../fonts/NeuchaRegular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("/fonts/OpenSans-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("/fonts/OpenSans-Bold.ttf");
    font-weight: 400;
}

body {
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #2A2626;
}

.wrapper {
    width: 1100px;
    margin: 0 auto;
}

.background {
    background: url("../images/image-1.png") no-repeat 0 0;
    background-color: #F5F4F0;

    padding: 40px 0 100px 0;
}

h1 {
    
    z-index: 9999;

    font-family: "NeuchaRegular", sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 1.4;
    
    color: #FE8A02;
}

.main-title {
    position: relative;
    margin-bottom: 180px;
}

h1 span {
    color: #2A2626;
}

.main-title img {
    position: absolute;
    top: 60px;
    right: -250px;
}

.main-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-column {
    width: 49%;
}

.btn-more {
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;

    background: #FE8A02;
    
    padding: 11px 24px;
}

.main-column:nth-child(2) {
    margin-bottom: 40px;
}

.bg-white {
    background-color: #FFFFFF;
    padding: 100px 0;
}

.bg-dark {
        background-color: #42413C;
}

.types-of-distortion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.types-title {
    background: transparent;
}

.types-title {
    font-family: "NeuchaRegular", sans-serif;
    font-size: 52px;
    line-height: 62px;
    color: #FE8A02;
}

.types-title > span {
    color: #FFFFFF;
}

.type-number {
    font-family: "NeuchaRegular", sans-serif;
    font-size: 64px;
    line-height: 1;
    color: #42413C;
}

.type-name h3 {
    font-family: "NeuchaRegular", sans-serif;
    font-size: 34px;
    line-height: 1.2;
    color: #FE8A02;
}

.type-of-distortion,
.types-title {
    width: 350px;
    height: 323px;
}